<!-- .container is main centered wrapper -->
<div class="container">
    <%= form_for @article do |f| %>

        <% if @article.errors.any? %>
            <div id="error_explanation">
                <h2>
                    <%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:
                </h2>
                <ul>
                    <% @article.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>


        <%= f.label :title %>
        <%= f.text_field :title, :class => "u-full-width", placeholder: "Your Title" %>

        <%= f.label :text %>
        <%= f.text_area :text, :class => "u-full-width", placeholder: "Your Article Body" %>


        <%= f.label :all_tags %> (e.g. food, coffee, breakfast)
        <%= f.text_field :all_tags, :class => "u-full-width", placeholder: "Tags Separated by Commas" %>

        <p></p>
        <%= f.submit %>
    <% end %>
</div> <!-- .container is main centered wrapper -->