<!-- .container is main centered wrapper -->
<div class="container">    

    <h2><%= @article.title %></h2>
    <em>First posted <%= time_ago_in_words(@article.created_at) %> ago</em> | <strong>Tagged:</strong> <%= raw @article.all_tags.split(",").map { |t| link_to t.strip, tag_path(t.strip) }.join(', ') %>
    <p></p>
    <p><%= @article.text %></p>

    <div class="row">
        <div class="six columns">
            <h5>Comments</h5>
            <%= render @article.comments %>
        </div>
        <div class="six columns">
            <h5>Add a Comment:</h5>
            <%= render 'comments/form' %>
        </div>
    </div>

    <%= link_to 'Edit', edit_article_path(@article) %> | 
    <%= link_to 'Back to Index', articles_path %>
</div> <!-- .container is main centered wrapper -->